<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница обновления</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<br/>
<br/>
<h3>ОБНОВЛЕНИЕ ДАННЫХ ПОЛЬЗОВАТЕЛЯ</h3>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <div>
        <th>id</th>
        <td th:utext="*{id}">index</td>
        <br/>
        <br/>

        <label for="username">login</label>
        <input name="username" th:field="*{username}" id="username" type="text"/>
        <br/>
        <br/>

        <label for="firstname">имя</label>
        <input name="firstname" th:field="*{firstname}" id="firstname" type="text"/>
        <br/>
        <br/>

        <label for="lastname">фамилия</label>
        <input name="lastname" th:field="*{lastname}" id="lastname" type="text"/>
        <br/>
        <br/>

        <label for="age">возраст</label>
        <input type="number" th:field="*{age}" id="age" name="age" min="1" max="100" required/>
        <br/>
        <br/>

        <label for="password">пароль</label>
        <input name="text" th:field="*{password}" id="password" type="text"/>
        <br/>
        <br/>
        <p>
            <label> enabled:
                <!--                <input type="checkbox" th:text="${user.enabled}"  th:field="*{enabled}"/>-->
                <input type="checkbox" th:field="*{enabled}"/>
            </label>
        </p>
        <br/>
        <p>
            <label>Roles:
                <input type="checkbox" name="roles"
                       th:each="role : ${allRoles}"
                       th:text="${role.name}"
                       th:value="${role.id}"
                       th:field="*{roles}"
                />
            </label>
        </p>
        <br/>
        <br/>

        <input type="submit" value="обновить"/>

    </div>
</form>
<p> <a th:href="@{/admin/}"> Вернуться на главную страницу </a> </p>
</body>
</html>